{{#if loginNAV}}
<nav>
    <a href="/signup"><img id="full_logo" src="/images/full_logo.png"></a>
    <form action="/login" method="POST">
        <div id="login_container"> 
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="password">
            <button  class="log" type="submit">login</button>
        </div>
    </form>
</nav>
{{else}}
<nav>
    <a href="/"><img src="/images/kb_logo.png"></a>
    <form action="/search" method="POST">
        <input id="search" type="text" name="search" placeholder="Search">
    </form>
    <form action="/logout" method="POST">
        <button type="submit" class="log">logout</button>
    </form>
</nav>
{{/if}}