<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    {{#if signupCSS}}
        <link rel="stylesheet" href="/css/signup.css" type="text/css">
    {{else}}
        <link rel="stylesheet" href="/css/home.css" type="text/css">
    {{/if}}

    {{#if profileCSS}}
        <link rel="stylesheet" href="/css/profile.css" type="text/css">
    {{/if}}

    

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    {{#if messageCSS}}
        <link rel="stylesheet" href="/css/message.css" type="text/css">
        <script defer src="/js/messages.js"></script>
    {{/if}}
    {{#if newMessageCSS}}
        <link rel="stylesheet" href="/css/newMessage.css" type="text/css">
    {{/if}}

    <script defer src="/js/homeScript.js"></script>
</head>

{{#if messageCSS}}
<body onload="updateScroll()">
{{else}}
<body>
{{/if}}

    {{>navBar}}
    
    {{{ body }}}
</body>
</html>