<div>
    <img>
    <form method="POST">
        <input type="email" name="email" id="email-login">
        <input type="password" name="password" id="password-login">
        <input type="submit">
    </form>
</div>


<div>
    <div>
        <img src="../public/images/vector-knowledge.jpg">
    </div>

    <div>
        <div>Join the worlds largest community for knowledge sharing</div>
       <form>
           <input type="text" name="first-name" id="first-name">
           <input type="text" name="last-name" id="last-name">
           <input type="email" name="email" id="email-signup">
            <input type="password" name="password" id="password-signup">
            <input type="password" name="password-confirm" id="password-signup-confirm">
            <input type="submit">
       </form>
    </div>
</div>