<div>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password">
        <button type="submit">login</button>
    </form>
</div>