<div id="moreDetail_container">
    <div>
        <h1>Let us know a little more about you</h1>
    </div>
    <div>
        <form action="/moreDetails" method="POST">
            <input type="text" name="image" placeholder="imageurl" required>
            <textarea name="about" required placeholder="a few lines about yourself...."></textarea>
            <input type="text" name="country" placeholder="country" required>
            <input type="date" name="date_birth" placeholder="date of birth (mm/dd/yy)" required>
            <button type="submit">complete registration</button>
        </form>
    </div>
</div>