#new_message_layout {
    margin-top: 100px;
    display: block;
}

#partnerImage {
    align-items: center;
    margin-right: 80px;
    margin-top: 100px;
    word-wrap: break-word;
    position: relative;
    left: -50px;
}

#partnerImage > img {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

#messageDetails > form > input {
    width: 400px;
    margin-bottom: 20px;
    margin-left: 70px;
    height: 30px;
}

#messageDetails > form > textarea {
    width: 400px;
    margin-left: 70px;
}

button {
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(1, 162, 231);
    color: white;
    text-decoration: none;
    margin-left: 70px;
    cursor: pointer;
    border: none;
}